  |  3   |  6   |  9   |   12      |
  A      B      C      D           E
|1|2|  |4|5|  |7|8| |10|11|  |13|14|15|16|

============================================================================

ADD 17

  |  3   |  6   |  9   |   12      |
  A      B      C      D           E
|1|2|  |4|5|  |7|8| |10|11|  |13|14|15|16|17***


  |  3   |  6   |  9   |   12      | 15***
  A      B      C      D   
|1|2|  |4|5|  |7|8| |10|11|                             |13|14|  |16|17|


                |  9   |
                G      H
  |  3   |  6   |      |   12   |   15   |
  A      B      C      D        E        F
|1|2|  |4|5|  |7|8| |10|11|  |13|14|  |16|17|


============================================================================

ADD 52 TO

   |  30       |      60   |   90    |    120       |
   A           B           C         D              E
|10|20|  |40|50|54|56|  |70|80|  |100|110|  |130|140|150|160|


            |            60             |
                          F
            F                           G
   |  30    |   52   |        |    90   |    120       |
   A        B        G        C         D              E
|10|20|  |40|50|  |54|56|  |70|80|  |100|110|  |130|140|150|160|

============================================================================

ADD 15 TO

      |      30   |   60   |   90    |    120       |
      A           B        C         D              E
|10|14|16|20|  |40|50|  |70|80|  |100|110|  |130|140|150|160|


            |            60             |
            G                           H
      | 15  |   30   |        |   90    |    120       |
      A     F        B        C         D              E
|10|14|  |16|20|  |40|50|  |70|80|  |100|110|  |130|140|150|160|

============================================================================

ADD 75 TO

      |      30   |   60      |     90     |    120       |
      A           B           C            D              E
|10|14|16|20|  |40|50|  |70|74|76|80|  |100|110|  |130|140|150|160|


                  |            75             |
                  G                           H
      |      30   |   60   |        |   90    |    120       |
      A           B        C        F         D              E
|10|14|16|20|  |40|50|  |70|74|  |76|80|  |100|110|  |130|140|150|160|

